@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.pacifico-font {
  font-family: 'Pacifico', cursive;
}

.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
  font-style: normal;
}

.montserrat-1 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

button, input {
  border: none;           
  outline: none;          
  box-shadow: none;     
}

.ql-toolbar.ql-snow {
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start;
}